header{
    padding: 30px 0;
    a{
        color: #4c44c1;
        text-decoration: none;
    }
    .logo{
        float: left;
    }
    .menu{
        float: left;
        
    }
    .header-buttons{
        float: right;        
    }
}